# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
# It's OK to commit .terraform.lock.hcl

# Ansible
*.retry

# SSH keys (never commit private keys)
*.pem
*.key
id_*
